@{
    ViewBag.Title = "Un-Authorized Access";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<div style="margin-left: 30%;">
    <div class="cnt_b" style="margin-top: 20%;">
        <h1>
            Sorry! You are unauthorized user to access this site.</h1>
    </div>
</div>
